<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Moja super apka w angularze</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">language</mat-icon>        
    </mat-toolbar-row>
</mat-toolbar>    

<!--
<form>
  <p>
  <mat-form-field>
    <input matInput placeholder="Tytuł" [(ngModel)]="tekst" name="tytul">
  </mat-form-field>
</p>
  <mat-form-field>
    <textarea matInput placeholder="Jakiś tekst" [(ngModel)]="title" name="title"></textarea>
  </mat-form-field>
</form>

<p>
  {{title}}
</p>

<p>
  {{tekst}}
</p>
-->

<app-wyszukiwarka></app-wyszukiwarka>
